* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.Nav_cont {
    width: 100%;
    height: 64px;
    background-color: black;
    border-bottom: 1px solid grey;
}
.NavBar {
    height: 64px;
    width: 1160px;
    background-color: blue;
    margin: auto;
}
.logo {
    max-width: 124px;
    float: left;
    margin: 0%;
    padding: 0%;
    height: 64px;
    display: block;
    position: absolute;
    top: 5px;
}
.menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.menu_list {
    display: flex;
    list-style-type: none;
}
.menu_list li {
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
}
.menu_list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
    transition: 0.3s;
}
li a :hover {
    color: goldenrod;
}
.icone_Nav{
    font-size: 25px;
}
.Nav_cont2 {
    width: 100%;
    height: 32px;
    background-color: blue;
}
.Nav_cont2 {
    text-align: center;
    padding: 10px 0;
}
.Nav_cont2 ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0%;
}
.Nav_cont2 ul li {
    margin: 0 10px;
}
.Nav_cont2 ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 8px 12px;
}
.main_container {
    margin: auto;
    max-width: 1160px;
    width: 1160px;
    box-sizing: border-box;
    padding: 12px;
    border: 0;
    margin-top: 0;
}
.colonna1 {
    width: 70%;
    height: 50%; 
    display: inline-block;
}
.riga1 {
    width: 70%;
    height: 100%;
    display: inline-block;
}
.col1_riga1 {
    max-width: 362.66px;
    width: 340px;
    height: 345px;
    background-color: blue;
}
.col2_riga1 .col2_riga1 {
    max-width: 362.66px;
    width: 362.66;
    max-height: 160px;
    height: 160px;
    display: flex;
}
div.colonna_1 {
    width: 70%;
    display: inline-block;
}
div.colonna_2 {
    width: 29%;
    display: inline-block;
    float: right;
    
}
div.col_1, div.col_2 {
    width: 49%;
    float: left;
    display: inline-flex;
    flex-direction: column;
}
div.col_1 {
    background: linear-gradient(120deg,#1c2c54 0,#3944bb 100%);
    min-height: 348px;
    padding: 20px;
    border-radius: 5%;
    margin-left: 10px 10px;

}
div.col_riga_1, div.col_riga_2 {
    min-height: 175px;
    background-color: rgb(43, 43, 43);
    border-radius: 5%;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
}
.col1_riga1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.articolo {
    height: 230px;
    display: inline-flex;
    width: 240px;
    padding: 20px;
    background-color: rgb(43, 43, 43);
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 10px;
}
div.articolo_verticale {
    min-height: 160px;
    max-height: 187.5px;
    height: 187.5px;
    border-bottom: 1px solid black;
    
}
div.colonna_1, div.colonna_2 {
    border: 1px solid black;
    display: inline block;
}
.riga2 {
    width: 100%;
    padding-left: 20px;
    align-items: center;
}
.icona_col1 {
    margin-left: 20px;
    margin-top: 20px;
}
.big_icon {
    font-size: 80px;
    color: white;
}
.text_col1 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-style: bold;
    color: whitesmoke;
}
.goldspan{
    color: goldenrod;
}
.grayspan {
    color: rgb(162, 135, 135);
}
.fontspan {
    font-size: 13px;
}
.text_col1 h2 {
    margin-top: 5px;
}
.icona_col2 {
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 10px;
    padding-right: 20px;
}
.medium_icon {
    font-size: 50px;
    color: rgb(209, 204, 204);
    margin-left: 10px;
}
.text_col2 {
    float: right;
    margin-top: 50px;
    margin-left: 15px;
}
.text_col2 h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: whitesmoke;
}
.iconariga2 {
    margin-top: 5px;
    margin-left: 5px;
}
.small_icon {
    font-size: 24px;
    color: whitesmoke;

}
.small_text {
    margin-top: 40px;
    color: white;
    font-size: 15px;
}